<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkoy | Urban Vogue</title>

    <link href="assets/img/favicon.png" rel="icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/checkout.css" type="text/css">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="img/logoMain.png" alt="" style="width: 140px;"></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>

                            <li><a href="/product-list">ALL Product</a></li>


                            <li><a href="/contact-page">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="/logout">Logout</a>

                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/wishlist"><span class="icon_heart_alt"></span>
                                    {{!-- <div class="tip">2</div> --}}
                                </a></li>
                            <li><a href="/cart"><span class="icon_bag_alt"></span>
                                    {{!-- <div class="tip">2</div> --}}
                                </a></li>
                            <li><a href="/userProfile"><span class="fa-solid fa-user"></span>

                                </a></li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">

            <div class="checkout__form">
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Billing detail</h5>
                        <div class="row">

                            <div class="grid">
                                {{#each newAddress.address}}
                                <div class="card">
                                    <label>
                                        <input name="address" class="radio" type="radio" id="addressId_{{this._id}}">
                                        <span class="plan-details">
                                            <span class="plan-type">Address Line {{increment @key}}</span>
                                            <input type="text" value="{{this._id}}" id="addressIdValue_{{this._id}}"
                                                hidden>
                                            <span>{{name}}</span>
                                            <span>{{mobile}}</span>
                                            <span>{{address}}</span>
                                            <span>{{city}}</span>
                                            <span>{{state}}</span>
                                            <span>{{pincode}}</span>
                                        </span>
                                    </label>
                                </div>
                                {{/each}}
                            </div>
                            <div class="text-center mt-3">
                                <a href="" class="btn btn-default btn-rounded mb-4 btn-primary" data-toggle="modal"
                                    data-target="#modalLoginForm">Enter custom address</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="checkout__order">
                            <h5>Your order</h5>

                            <div class="checkout__order__total">
                                <ul>
                                    {{!-- <li>Subtotal <span>$ 750.0</span></li> --}}
                                    <li>Total ₹<span id="totalAmount">{{total}}</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <p class="text-danger font-weight-bold" id="InsufficientWallet"></p>
                                    <input class="form-check-input" type="radio" name="paymentMethod"
                                        id="paymentMethodWallet" value="Wallet">
                                    <label class="form-check-label font-weight-bold text-success"
                                        for="paymentMethodOnline">

                                        Wallet : ₹ <span class="" id="walletAmount">{{userDetails.wallet}}</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod"
                                        id="paymentMethodCOD" value="COD">
                                    <label class="form-check-label" for="paymentMethodCOD">
                                        Cash on Delivery
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod"
                                        id="paymentMethodOnline" value="Online">
                                    <label class="form-check-label" for="paymentMethodOnline">
                                        Online Payment
                                    </label>
                                </div>

                            </div>
                            <button type="submit" onclick="placeOrderSubmit()" class="site-btn mt-4" id="placeOrderButton">Place oder</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->



    {{!-- Modal --}}

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body mx-3">
                    <form action="/add-new-address-checkout" method="post" class="row g-3 needs-validation" novalidate>
                        <div class="col-12">
                            <label for="yourName" class="form-label">Your Name</label>
                            <input type="text" name="name" class="form-control" id="yourName" required>
                            <div class="invalid-feedback">Please enter your name!</div>
                        </div>

                        <div class="col-12">
                            <label for="yourEmail" class="form-label">Your Email</label>
                            <input type="email" name="email" class="form-control" id="yourEmail" required>
                            <div class="invalid-feedback">Please enter a valid Email address!
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="yourMobile" class="form-label">Mobile Number</label>
                            <div class="input-group has-validation">
                                <input type="number" name="mobile" class="form-control" id="yourUsername" required>
                                <div class="invalid-feedback">Please enter a mobile number.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="yourAddress" class="form-label">Address</label>
                            <input type="text" name="address" class="form-control" id="yourAddress" required>
                            <div class="invalid-feedback">Please enter your address</div>
                        </div>

                        <div class="col-12">
                            <label for="yourCity" class="form-label">State</label>
                            <input type="text" name="state" class="form-control" id="state" required>
                            <div class="invalid-feedback">Please enter your State</div>
                        </div>

                        <div class="col-12">
                            <label for="yourCity" class="form-label">City</label>
                            <input type="text" name="city" class="form-control" id="city" required>
                            <div class="invalid-feedback">Please enter your City</div>
                        </div>




                        <div class="col-12">
                            <label for="yourCity" class="form-label">Pincode</label>
                            <input type="number" name="pincode" class="form-control" id="mobile" required>
                            <div class="invalid-feedback">Please enter your City</div>
                        </div>


                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Submit</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>




    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/main.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>



    <script>
        





        function placeOrderSubmit() {
            const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;

            if (paymentMethod === "Wallet") {
                var walletElement = document.getElementById('walletAmount');
                var totalElement = document.getElementById('totalAmount');

                // Get the content of the selected element
                var walletAmount = walletElement.innerText;
                var totalAmount = totalElement.innerText;

                // Extract the numeric value from the content
                var walletAmount = parseInt(walletAmount);
                var totalAmount = parseInt(totalAmount);

                // Log the wallet amount
                console.log(walletAmount, ";;;;;;;;;;;;;;;;;;;;;", totalAmount);

                if (totalAmount <= walletAmount) {
                    console.log("wallet")
                    paymentMethodCheck(paymentMethod)


                } else {
                  document.getElementById('InsufficientWallet').textContent = "Insufficient wallet amount";                }
            } else {
                paymentMethodCheck(paymentMethod)
                console.log("noo walleet")
            }
            // Find the selected address ID

            // Find the selected address ID

        }





        function paymentMethodCheck(paymentMethod) {
            let selectedAddressId;


            // Find the checked radio input
            const checkedInput = document.querySelector('input[name="address"]:checked');

            if (checkedInput) {
                selectedAddressId = checkedInput.id.split('_')[1]; // Extract the ID from the input's ID attribute
            }

            console.log(paymentMethod, "method", selectedAddressId,);


            $.ajax({
                url: '/place-order',
                method: 'post',
                data: {
                    paymentMethod: paymentMethod,
                    selectedAddressId: selectedAddressId
                },
                success: ((response) => {
                    console.log(response, "ajaxxxxxxxxxxxxxxxxx")

                    if (response == false) {
                        location.href = '/payment-error'
                    } else {
                        if (response.pendingOrders) {
                            console.log(response.pendingOrders.orderId)

                            location.href = '/order-response?id=' + response.pendingOrders.orderId;
                        }
                        else {
                            console.log("iam in ahjx ")
                            razorpayPayment(response.order)
                        }
                    }
                })
            })

        }
















        function razorpayPayment(order) {
            console.log(order.amount, "hmmhnmhmhjm")

            var options = {
                "key": "rzp_test_TtPOAmMOzmofnE", // Enter the Key ID generated from the Dashboard
                "amount": order.amount * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to
                "currency": "INR",
                "name": "Urban Vougue", //your business name
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {


                    verifyPayment(response, order)
                },
                "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially

                    "name": "Gaurav Kumar", //your customer's name
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000" //Provide the customer's phone number for better conversion rates
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }





        function verifyPayment(payment, order) {
            $.ajax({
                url: '/verify-payment',
                method: 'POST',
                data: {
                    payment,
                    order
                },
                success: function (response) {
                    console.log(response, "ajaxxxxxxxxxxxxxxxxx");

                    

                    if (response === false) {
                        location.href = '/payment-error';
                    } else {
                        if (response.onlineDetails) {
                            console.log(response.onlineDetails.orderId);
                            location.href = '/order-response?id=' + response.onlineDetails.orderId;
                        }
                    }
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        }

        function updateCustomAddress(selectElement) {
            const customAddressInput = document.getElementById('customAddressInput');

            if (selectElement.value === '3') {
                customAddressInput.style.display = 'block';
            } else {
                customAddressInput.style.display = 'none';
                // Clear the custom address input value when not selected
                customAddressInput.querySelector('input').value = '';
            }
        }

        // Function to update the address in the form data
        function updateAddressInput(inputElement) {
            const addressInput = document.querySelector('input[name="address"]');
            addressInput.value = inputElement.value;
        }


    </script>













</body>

</html>